<a href="https://colab.research.google.com/github/2020nn/web1/blob/main/python_final_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **파이썬 프로그래밍 기말고사**

기말 고사 유의 사항

1. 문제의 답안을 함수로 작성하되, 반드시 함수 이름은 문제에서 제시하는 함수명으로 할것 (답안은 함수만 정의해서 제출해도 됨)
1. 함수에는 함수의 매개변수 입력과 반환이 반드시 있어야 함
1. 코드 작성이 끝난 파일은 개별적으로 함수를 호출해서 검수를 거쳐 정답이 맞는지 확인할 것
1. 작성된 답안은 상단 메뉴의 파일--> 다운로드 --> .py 로 다운 받아 학교 LMS 에 제출할 것
1. .py 가 학교 LMS 에 올라가지 않을경우 ZIP으로 압축하여 업로드 가능
1. 파일의 이름은 자신의 학번.py      예) 학번이 2021111000 일 경우,     2021111000.py 파일을 제출
1. 본 시험지를 그대로 제출하면 기본 점수 획득 가능 ( 제출 점수 10점)
1. 코드는 자동 채점이 되며, 코드의 유사도 검증을 통해 코드가 타 학생과 유사도가 높을 경우 감점 (절대로 문제의 답안을 타 학생과 공유 금지)

# 문제 1) - 8점


<strong>* 하나의 정수를 함수의 입력으로 받아, 이 정수가 홀수 인지 짝수 인지를 판별하여 짝수이면 "짝", 홀수 이면 "홀"이라는 문자열을 반환하는 함수를 작성하시오</strong>


* 예1) 
 * 입력(정수) : 2 <br>
 * 반환(문자열) : "짝"


* 예2)
 * 입력(정수): 3 <br>
 * 반환(문자열): "홀"




* 함수 이름: exam1<br>      (반드시 함수 이름을 exam1로 작성할것!!)

* 함수 작성 힌트 <br>



```
def exam1(a):
    b = a가 짝수라면 "짝"이라는 문자열을 대입
    return b
```

In [ ]:
###### 1번 문제 답안 작성

exam1 = int(input("숫자를 입력하세요: "))

if exam1 % 2 == 0:
  print("입력한 숫자 %d는 짝수입니다." %(exam1))
else:
  print("입력한 숫자 %d는 홀수입니다." %(exam1))

숫자를 입력하세요: 4
입력한 숫자 4는 짝수입니다.

## 문제 2) - 8점

<strong> * 하나의 리스트를 함수의 매개변수 입력으로 넣으면, 리스트안의 중복을 제거한 다음 중복 제거된 리스트를 반환하는 함수를 작성하세요.</strong>

* 예1) 
 * 입력(리스트) : [1,2,1,1,1] <br>
 * 반환(리스트) : [1,2]


* 예2)

 * 입력(리스트): [3,3,4,5] <br>
 * 반환(리스트): [3,4,5]




* 함수 이름: exam2 <br>      (반드시 함수 이름을 exam2로 작성할것!!)

* 함수 작성 힌트 <br>



```
def exam2(a):
    b = a리스트의 중복제거한 리스트
    return b
```

In [ ]:
my_list=[1,2,1,1,1,3,3,4,5]

exam2 = []

for v in my_list:
    if v not in exam2:
        exam2.append(v)
        
print(exam2)
print(type(exam2))

[1, 2, 3, 4, 5]
<class 'list'>

## 문제 3) - 8점

<strong> 2부터 9까지의 숫자중 하나를 함수의 매개변수 입력으로 넣으면, 구구단의 결과를 리스트로 반환하는 함수를 작성하시오</strong> 

* 예1)

  * 입력(정수) : 2
  * 반환(리스트) : [2,4,6,8,10,12,14,16,18]

* 예2)

 * 입력(정수): 3
 * 반환(리스트): [3,6,9,12,15,18,21,24,27]

* 함수 이름: exam3
(반드시 함수 이름을 exam3로 작성할것!!)

* 함수 작성 힌트



```
def exam3(a):
    b = a단에 대한 구구단 결과 리스트
    return b
```

In [ ]:
#### 3번 문제 답안 작성
def exam3(m):
    for n in range(1, 10):
        print(f'{m} * {n} = {m*n:2d}')

if __name__ == '__main__':
    for i in range(2, 10):
        exam3(i)
        print()

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 문제 4) - 8점

<strong>다음 데이터를 함수 내에 딕셔너리 형태로 저장한 다음, 함수의 매개변수 입력으로 딕셔너리의 키에 해당하는 문자열을 받으면, 키에 해당하는 값을 반환하는 함수를 작성하시오. </strong>

함수내 저장해야하는 데이터

```
phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}
```

* 예1)<br>

 * 입력(문자열) : "S5"<br>
 * 반환(정수) : 2014<br>

* 예2)<br>

 * 입력(문자열) : "S7"<br>
 * 반환(정수) : 2016<br>

* 함수 이름: exam4  <br>
(반드시 함수 이름을 exam4로 작성할것!!)<br>

* 함수 작성 힌트

```
def exam4(a):
    b = a의 키(key)값에 해당하는 값(value)
    return b
```

In [ ]:
#### 4번 문제 답안 작성
phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}
phones.values()

dict_values([2014, 2016, 2017, 2018, 2019])

## 문제5) - 8점

<strong>주민등록번호 13자리를 문자열로 입력 받아, 받은 주민번호를 기반으로 남성인지 여성인지를 판별하여 반환하는 함수를 작성하시오. </strong><br>

입력 문자열은 "주민번호 앞자리 - 뒷자리"로 구성됨<br>
반환 문자열은 "남성", "여성" 둘중 하나<br>
<br>

주민번호 뒷자리중 첫번째 숫자가 1이면 남성, 2이면 여성

* 예1)<br>

  * 입력(문자열) : "820327-1022421"<br>
  * 반환(문자열) : "남성"<br>

* 예2)

 * 입력(문자열) : "820327-2022421"<br>
 * 반환(문자열) : "여성"<br>

* 함수 이름: exam5
(반드시 함수 이름을 exam5로 작성할것!!)

* 함수 작성 힌트


```

def exam5(a):
    b = a 주민번호를 판별후 "남성", "여성" 이라는 문자열 둘 중 하나를 대입 (문자열을 -을 기준으로 split)
    return b
```

In [ ]:
exam5 = input("주민등록번호 입력")
exam5.split("-")
gender = int(exam5.split("-")[1][0])

if gender == 1:
    print("남성")
elif gender == 2:
    print("여성")
else:
    print("다시 입력해주세요.")

주민등록번호 입력870201-1044444
남성

## 문제 6) - 8점

<strong>하나의 정수를 함수의 매개변수 입력으로 받아, 이 정수를 제곱한 결과를 반환하는 함수를 작성하시오. </strong><br>



* 예1)<br>

  * 입력(정수) : 2<br>
  * 반환(정수) : 4<br>

* 예2)

 * 입력(정수) : 3<br>
 * 반환(정수) : 9<br>

* 함수 이름: exam6
(반드시 함수 이름을 exam6로 작성할것!!)

* 함수 작성 힌트


```

def exam6(a):
    b = a를 제곱한 결과
    return b
```

In [11]:
a = int(input("제곱을 구할 값을 입력하세요 : ")) 
print(a, "의 제곱 = ", a**2)

제곱을 구할 값을 입력하세요 : 2
2 의 제곱 =  4
제곱을 구할 값을 입력하세요 : 4
4 의 제곱 =  16

## 문제 7) - 8점  +++ 내장함수를 사용하지 않고, 문제를 풀 경우 + 10점 (총 18점)


<strong>정수로 이루어진 하나의 리스트를 함수의 매개변수 입력으로 받아, 이 리스트 안의 데이터를 오름차순으로 정렬하여 반환하는 함수를 작성하시오 </strong><br>



* 예1)<br>

  * 입력(리스트) : [10,3,8,7]<br>
  * 반환(리스트) : [3,7,8,10]<br>

* 예2)<br>

 * 입력(리스트) : [4,3,2,1]<br>
 * 반환(리스트) : [1,2,3,4]<br>

* 함수 이름: exam7
(반드시 함수 이름을 exam7로 작성할것!!)

* 함수 작성 힌트


```

def exam7(a):
    b = a 리스트를 오름차순 (리스트 오름차순을 하는 내장함수를 이용 or 직접 오른차순 구현부를 작성)
    return b
```

In [13]:
exam7 = [10,3,8,7,4,3,2,1]
exam7.sort()
print(exam7)

[1, 2, 3, 3, 4, 7, 8, 10]

## 문제 8 - 8점

<strong>원의 반지름을 함수의 매개변수 입력으로 받아, 원의 넓이를 반환하는 함수를 작성하시오 </strong><br>

원의 넓이를 구하는 공식 = 반지름 * 반지름 * 3.14

* 예1)<br>

  * 입력(정수) : 2<br>
  * 반환(실수) : 12.56<br>

* 예2)<br>

 * 입력(정수) : 3<br>
 * 반환(실수) : 28.26<br>

* 함수 이름: exam8
(반드시 함수 이름을 exam8로 작성할것!!)

* 함수 작성 힌트


```

def exam8(a):
    b = a를 반지름으로 하는 원의 넓이 (반지름 * 반지름 * 3.14)
    return b
```

In [14]:
exam8 = float(input("반지름을 입력하세요:"))
area=3.14*exam8**2

print("원의 넓이=",area)

반지름을 입력하세요:3
원의 넓이= 28.26

## 문제 9)  - 8점

휴대전화 번호를 문자열 형태로 함수의 매개변수로 입력 받으면, 휴대전화 4개의 뒷자리를 ####으로 바꾸어 반환하는 함수를 작성하시오.



예1) <br>

입력(문자열) : "010-3222-1234"<br>
반환(문자열) : "010-3222-####"<br>

예2)<br>

입력(문자열) : "010-1221-0984"<br>
반환(문자열) : "010-1221-####"<br>
함수 이름: exam9 (반드시 함수 이름을 exam9로 작성할것!!)<br>

함수 작성 힌트

```

def exam9(a):
    b = a 문자열을 -을 기준으로 split 하여 맨 뒷자리를 수정할 것
    return b
```

In [6]:


def hide_numbers(s):
    return s[:7] + '#' * (len(s[7:]))



print("결과 : " + hide_numbers('01033334444'))

결과 : 0103333####

## 문제 10) - 8점

<strong>하나의 리스트를 매개변수 입력으로 받아, 리스트안의 데이터의 평균 값을 구해 실수로 반환하는 함수를 작성하시오.</strong>



예1) <br>

입력(리스트) : [1,2,3,4] <br>
반환(실수) : 2.5 <br>

예2)<br>

입력(리스트) : [2,4,6,8,10] <br>
반환(실수) : 6.0 <br>
함수 이름: exam10 (반드시 함수 이름을 exam10로 작성할것!!)<br>

함수 작성 힌트

```

def exam10(a):
    b = a 리스트의 모든 데이터를 평균한 값
    return b
```

In [17]:
exam10 = [1, 2, 3, 7]
print( sum(exam10)/len(exam10) )

3.25